@import '@/styles/functions.module.scss';

.view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: px(96) px(320) px(628) px(320);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px(32);
    min-width: px(360);
}

.body {
    display: flex;
    flex-direction: column;
    gap: px(3);
}

.h1 {
    text-align: center;
    color: var(--secondary-cool-gray-800);
    font-size: px(36);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    word-break: keep-all;
}

.span {
    text-align: center;
    color: var(--secondary-cool-gray-800);
    font-size: px(16);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    word-break: keep-all;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: px(44);
    border-radius: 6px;
    background-color: var(--cocoa-green);
    outline: none;
    border: none;
    cursor: pointer;

    color: var(--primary-white);
    font-size: px(15);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: px(16);
    height: px(16);
}

.footer {
    display: flex;
    align-items: center;
    gap: px(2);
    width: fit-content;
    cursor: pointer;
}

.footerText {
    color: var(--secondary-cool-gray-600);
    font-size: px(15);
    font-style: normal;
    font-weight: 400;
    line-height: px(20);
}